
%p
  %b Name:
  = @user.name
%p
  %b Studies:
  = @user.study_course.name unless @user.study_course.nil?

= link_to 'Edit', edit_user_path(@user), class: 'btn'
= link_to 'Back', users_path, class: 'btn btn-inverse'
