%legend Statistics for #{@room.first.extra_human}
#myCont
:javascript
  $('#myCont').highcharts({
        chart: {
          type: 'column'
        },
        title: {
          text: 'Statistics of checked in users'
        },
        xAxis: {
          categories: ['Studies']
        },
        yAxis: {
          min: 0,
          title: {
            text: "Number of users in room #{@room.first.extra_human}"
          }
        },
        plotOptions: {
            column: {
              dataLabels: {
                  enabled: true,
                  //color: colors[0],
                  style: {
                      fontWeight: 'bold'
                  },
                  formatter: function() {
                      return this.y;
                  }
              }
            }
        },
        series: [#{StudyCourse.print_graph(@room.first)}]
      });
